* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
}

.l-main {
}

.l-main div {
  display: inline;
  line-height: 1;
  color: #FFF;
  font-size: 19px;
}


.link {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 20px;
  color: inherit;
  text-decoration: underline;
  color: #FFF;
  background-color: #000;
}